.list_wrap {
    width: 100%;
    height: 400px;
    max-width: 360px;
    background-color: rgb(18, 18, 18);
    overflow: scroll;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.list_item {
    list-style: none;
    padding: 8px 16px;
    min-height: 32px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.list_item_title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    margin-top: 4px;
}

.list_item:hover {
    background-color: #444950;
}

.click_effect {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 0.5s linear forwards;
}
@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 700px;
        height: 700px;
        opacity: 0;
    }
}

.tab_header {
    background-color: rgb(18, 18, 18);
    padding: 24px;
}

.tab_wrap {
    display: flex;
    padding: 0;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.tab_item {
    padding: 12px 16px;
    height: 24px;
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.tab_item_content {
    color: #fff;
    padding: 24px;
}

.selected {
    color: rgb(144, 202, 249);
}

.highlight {
    z-index: 99;
    width: 92px;
    height: 1px;
    top: 48px;

    position: absolute;
    background-color: rgb(144, 202, 249);
    transition: 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
.accordion_wrap {
    background-color: rgb(18, 18, 18);
    padding: 24px;
}

.accordion_wrap li:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.accordion_item {
    padding: 12px 16px;
    background-color: rgb(18, 18, 18);
    box-shadow:
        rgb(0 0 0 / 20%) 0px 2px 1px -1px,
        rgb(0 0 0 / 14%) 0px 1px 1px 0px,
        rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    position: relative;
}

.accordion_item_title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion_item_title {
    margin: 0;
    color: #fff;
}

.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
